@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">Pomoceo - pomagajmy razem</h1>
    <div class="text-center">
        <ul class=" list-inline mx-auto justify-content-center ">
            <li class="list-inline-item btn btn-lg bg-info" >@Html.ActionLink("Dodaj ogłoszenie", "Create", "Offers")</li>
            <li class="list-inline-item btn btn-lg bg-warning " style="margin-left:10px" >@Html.ActionLink("Przeglądaj ogłoszenia", "Index", "Offers")</li>
        </ul>
    </div>
</div>


